body {
  color: rgb(0,0,0);
  font-family: 'Quicksand';
  margin: 0px;
  background-image: url('../water.jpg');
}
div {
  min-height: 100vh;
  width: 100vw;
}
h1, h2, h3 {
  text-align: center;
  color: rgb(245,176,224);
}
h1 {
  font-size: 9em;
}
h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 6em;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 700px;
}

p {
  text-align: center;
  color: rgb(245,176,224);
  width: 80%;
  margin: 10vh 10vw;
  font-size: 2em;
}

a {
  color: rgb(0,0,0)
}


video {

  margin: 10vh 10vw;
  border-radius: 700px;
}

div.buttons {
  color: rgb(255,255,255);
  display: flex;
  justify-content: center, ;
  align-items: center;
  flex-direction:row;
  min-height: auto;
  width: auto;
}



/* this stuff is for the nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffd00b;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li:hover {
  background-color: #ff8712;
}

.active {
  background-color: red;
}
